<html>
    <head>
        <title>Portfolio JS</title>
    </head>
    <body bgcolor="white" data-gr-c-s-loaded="true">
        <h1>Kinematics JS</h1><hr>
            <pre>
                <a href="/graphicsStuff/kinematics/ForwardKinematics">Demonstration of forward kinematics</a>
                <a href="/graphicsStuff/kinematics/ReverseKinematics">Demonstration of reverse kinematics</a>
                <a href="/graphicsStuff/kinematics/FixedReverseKinematics">Demonstration of reverse kinematics with a fixed base</a>
            </pre><hr>
    </body>
</html>