<html>
    <head>
        <title>Portfolio JS</title>
    </head>
    <body bgcolor="white" data-gr-c-s-loaded="true">
        <h1>Portfolio JS</h1><hr>
            <pre>
                <a href="/graphicsStuff/bruteForce">BruteForce Visualizer</a>
                <a href="/graphicsStuff/cub3D">2.5D FPS Game Engine</a>
                <a href="/graphicsStuff/cub2D">2D Top-Down Game Engine</a>
                <a href="/graphicsStuff/landScroller">Random Land Generator</a>
            </pre><hr>
    </body>
</html>