<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>cub2D</title>
    <link rel="stylesheet" href="/stylesheets/cub3D.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
</head>

<body>
<canvas id="canvas" style="cursor: none">This browser does not support canvas</canvas>
<div id="controls">
    <label>
        Fov
        <input type="range" min="40" max="100" value="90"
               oninput="setFov(this.value); display_change(this.value, 'fov')">
        <span id="fov">90</span>
    </label>
</div>
<div id="text">
    Controls:
    <ul>
        <li>W: Forward</li>
        <li>A: Left</li>
        <li>S: Backward</li>
        <li>D: Right</li>
        <li>Arrows: Camera Control</li>
    </ul>
</div>
</body>

<script type="text/javascript" src="/javascript/graphic/vector.js"></script>
<script type="text/javascript" src="/javascript/graphic/square2D/wall.js"></script>
<script type="text/javascript" src="/javascript/graphic/square2D/player.js"></script>
<script type="text/javascript" src="/javascript/graphic/square2D/ray.js"></script>
<script type="text/javascript" src="/javascript/graphic/square2D/square2D.js"></script>

</html>