<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>cub3D</title>
    <link rel="stylesheet" href="/stylesheets/graphical.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="/javascript/graphic/vector.js"></script>
    <script src="/javascript/graphic/color.js"></script>
    <script src="/javascript/graphic/cub3D/player.js"></script>
    <script src="/javascript/graphic/cub3D/ray.js"></script>
    <script src="/javascript/graphic/cub3D/cub3D.js"></script>

</head>

<body>
  <div id="p5container"></div>
<div class="controls">
  <label>
      Resolution
      <input type="range" min="0" max="30" value="0"
             oninput="setRes(this.value, 0, 30); display_change(this.value, 'res')">
      <span id="res">0</span>
  </label>
    <label>
        Minimap
        <input type="checkbox" id="minimap">
    </label>
    <label>
        Shading
        <input type="checkbox" id="shading" checked>
    </label>
</div>
<div id="text">
    Controls:
    <ul>
        <li>W: Forward</li>
        <li>A: Left</li>
        <li>S: Backward</li>
        <li>D: Right</li>
        <li>Arrows: Camera Control</li>
    </ul>
</div>
</body>
</html>
