<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>cub3D</title>
    <link rel="stylesheet" href="/stylesheets/graphical.css">
</head>

<body>
<canvas id="canvas">This browser does not support canvas</canvas>
<div class="controls">
    <label>
        Fov
        <input type="range" min="40" max="100" value="90"
               oninput="setFov(this.value); display_change(this.value, 'fov')">
        <span id="fov">90</span>
    </label>
    <label>
        Minimap
        <input type="checkbox" id="minimap" onclick="sketch();">
    </label>
    <label>
        Shading
        <input type="checkbox" id="shading" checked onclick="sketch();">
    </label>
</div>
<div id="text">
    Controls:
    <ul>
        <li>W: Forward</li>
        <li>A: Left</li>
        <li>S: Backward</li>
        <li>D: Right</li>
        <li>Arrows: Camera Control</li>
    </ul>
</div>
</body>

<script type="text/javascript" src="/javascript/graphic/vector.js"></script>
<script type="text/javascript" src="/javascript/graphic/square2D/wall.js"></script>
<script type="text/javascript" src="/javascript/graphic/color.js"></script>
<script type="text/javascript" src="/javascript/graphic/cub3D/player.js"></script>
<script type="text/javascript" src="/javascript/graphic/cub3D/ray.js"></script>
<script type="text/javascript" src="/javascript/graphic/cub3D/cub3D.js"></script>

</html>