<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reverse Kinematics</title>
    <link rel="stylesheet" href="/stylesheets/graphical.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="/javascript/graphic/vector.js"></script>
    <script src="/javascript/graphic/kinematics/ReverseKinematics.js"></script>
</head>
<body>
<div id="p5container" style="cursor: none"></div>
<div class="controls">
    <label>
        Number of joints
        <input type="range" min="3" max="200" value="25"
               oninput="setJoints(this.value, 3, 200); display_change(this.value, 'jointN')">
        <span id="jointN">50</span>
    </label>
    <label>
        Length
        <input type="range" min="10" max="200" value="20"
               oninput="setLen(this.value, 3, 200); display_change(this.value, 'segLen')">
        <span id="segLen">20</span>
    </label>

    <label>
        See Joints
        <input type="checkbox" id="seeJoints">
    </label>
    <label>
        See Mouse
        <input type="checkbox" id="ball" onclick=
        "if (this.checked == true) {
        	document.getElementById('p5container').style.cursor = 'auto'
        } else {
        document.getElementById('p5container').style.cursor = 'none'
        }">
    </label>
</div>
</body>
</html>
